@import './fonts.css';
@import './variables.css';
@import 'swiper/css';
@import 'tailwindcss';

body {
  font-family: var(--font-primary);
  background-color: #0b0f1b;
}

a {
  text-decoration: none;
}
